.form {
  display: block;
  font-size: 20px;
  font-family: sans-serif;
  list-style-type: none;
  padding: 0;
}
.label {
  padding: 0.5em 1em 0.5em 0;
}

.addItemsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.063);
  width: 100%;
  max-width: 1120px;
  padding: 0.5em;
  margin: auto;
}

.input {
  flex: 1;
  width: 100%;
  max-width: 1120px;
  resize: vertical;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}
.button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 25px;
  margin: auto;
  outline: none;
  border: 1px solid #ffffff34;
  border-radius: 10px;
  height: 36px;
  line-height: 46px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #444;
  background-color: #c4c9e3;
  box-shadow:
    0 4px 6px rgb(65 132 144 / 10%),
    0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
  &:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
  }
  &:hover {
    transition: all 0.2s;
    box-shadow:
      0 7px 14px rgb(65 132 144 / 10%),
      0 3px 6px rgb(0 0 0 / 8%);
    background-color: #ffffff;
  }
  &:active {
    background-color: #f1bb57;
  }
  &:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
  }
}
