.profile{
    display: flex;
    align-items: center;
    justify-content:start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.userPic{
    margin-right: 10px;
    border-radius: 50%;
    width:150px;
    height:150px;
}

.userName{
    color: cornflowerblue;
}